.sidebar-skills{
    border-top: 2px solid  rgb(223, 223, 223);
    position: relative;
    padding-bottom: 50px;
    .title{
        position: absolute;
        top: -12px;
        left: 0px;
        background-color: #ffffff;
        padding-right: 5px;
        font-size: 12px;
        font-weight: 600;
        color:  rgb(173, 173, 173);
    }
    .skill-names{
        padding-top: 35px;
        .skill-name{
            font-size: 15px;
            font-weight: 600;
            color: rgb(88, 88, 88);
            padding: 1px 0px;
        }
    }
}