body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-main{
  display: flex;
   max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  .sidebar{
    width: 30%;
  }
  .content{
    width: 70%;
  }
}
 @mixin tablet {
   @media screen and (max-width: 768px) {
     @content;
   }
 }

@mixin mobile {
  @media screen and (min-width: 350px) {
    @content;
  }
}

